/* ========================== EXTRAS ========================= */
/* MARK: Extras */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /* Fuente Oswald */

* {
    text-decoration: none;
    font-family: "arial";
    font-size: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
:root {
    --verde: #008849;
    --rosa: rgb(242, 0, 152);
    --grisOscuro: rgb(56, 65, 67);
    --grisClaro: rgb(73, 82, 85);
    --modoOscuro: rgb(60, 70, 75);
    --maxWidth: 70em;
}
body {
    background-color: var(--modoOscuro);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========================== SCROLL HORIZONTAL ========================= */
/* MARK: Scroll H */
.scroll-h {
    background-color: var(--rosa);
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    height: 0.2em;
    transform-origin: left;
}

/* ========================== BORDE INFERIOR ========================= */
/* MARK: Borde Inferior */
.div__borde .borde__inferior {
    background-color: var(--rosa);
    height: 0.1em;
    /* clip-path: polygon(0 100%, 0 100%, 0 0, 0 0); */
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: clip-path 0.3s;
}

/* Efecto Hover el */
.div__borde:hover .borde__inferior {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* ========================== HEADER SUPERIOR ========================= */
/* MARK: Header Superior */
.bienvenida {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    background-color: var(--grisOscuro);
    background-image: url("../imagenes/bola.png");
    background-repeat: round;
    background-size: 1.5em;
    display: flex;
    align-items: center;
}

/* Titulo MyStuff */
.bienvenida .bienvenida__titulo {
    font-family: "Oswald";
    font-weight: 400;
    color: var(--rosa);
}

/* ========================== ESTILOS MENUS ========================= */
/* MARK: Estilo Menus */
.menu-1 ul {
    box-shadow: 2px 2px 10px #000;
    z-index: 100;
}
.menu-1 li {
    background-color: var(--grisOscuro);
}
.menu-1 a,
.menu-1 label {
    text-wrap: nowrap;
    font-size: 1em;
    color: #fff;
    position: relative;
    display: block;
    padding: 0.7em;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover o Click a un Elemento */
.menu-1 a:hover,
.menu-1 label:hover {
    background-color: var(--grisClaro);
    color: var(--rosa);
}

/* Iconos */
ion-icon {
    transform: translateY(10%);
}

/* ========================== Computadora ========================= */
/* MARK: Computadora */
@media (min-width: 1080px) {

    /* ========================== HEADER SUPERIOR ========================= */
    /* MARK: Header */
    .bienvenida {
        justify-content: space-around;
        height: 13em;
    }

    /* Titulo MyStuff */
    .bienvenida .bienvenida__titulo {
        font-size: 3em;
    }

    /* BOTONES MENU LATERAL */
    .bienvenida .bienvenida__btns-menu {
        display: none;
    }

    /* ========================== MENU NAVEGACION ========================= */
    /* MARK: Menu Navegacion */
    .menu-1 {
        display: flex;
        justify-content: space-around;
    }

    /* Centrar Textos Menu 1 */
    .menu-1 > li > .div__borde {
        text-align: center;
    }

    /* Submenus */
    .menu-1 ion-icon {
        display: none;
    }
    .menu-1 ul {
        position: absolute;
        min-width: 8em;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
    }
    .menu-1 li {
        position: relative;
        width: 100%;
    }

    /* Mostrar Menu 2 */
    .menu-1 li:hover .menu-2 {
        top: 100%;
        opacity: 1;
        pointer-events: initial;
    }

    /* MENU 2 */
    .menu-2 {
        top: 200%;
    }

    /* Mostrar Menu 3 */
    .menu-2 li:hover .menu-3 {
        top: 0;
        left: 100%;
        opacity: 1;
        pointer-events: initial;
    }

    /* MENU 3 */
    .menu-3 {
        top: 100%;
        left: 100%;
    }
}

/* ========================== Tablet y Celular ========================= */
/* MARK: Tablet y Celular */
@media (max-width: 1081px) {

    /* ========================== HEADER SUPERIOR ========================= */
    /* MARK: Header */
    header {
        position: sticky;
        z-index: 100;
        top: 0;
        width: 100%;
    }

    /* Bienvenida */
    .bienvenida {
        justify-content: space-between;
        position: relative;
        z-index: 100;
        height: 4.5em;
    }

    /* Titulo MyStuff */
    .bienvenida .bienvenida__titulo {
        font-size: 2em;
        margin-left: 0.5em;
    }

    /* BOTONES MENU LATERAL */
    .bienvenida__btns-menu {
        position: relative;
        width: 4em;
        height: 4em;
        margin-right: 0.5em;
    }

    /* Iconos Abrir y Cerrar Menu */
    .bienvenida__btns-menu ion-icon {
        font-size: 4em;
        color: #fff;
        position: absolute;
        inset: 0;
        width: 100%;
        margin: auto;
        transform: none;
        transition: opacity 0.1s ,transform 0.4s;
    }

    /* Boton Cerrar Desactivado */
    .bienvenida__btns-menu .bienvenida__btn-cerrar {
        opacity: 0;
    }

    /* Boton Abrir Activado */
    .bienvenida__btns-menu.cambiar-icono .bienvenida__btn-abrir {
        opacity: 0;
        transform: rotate(90deg);
    }

    /* Boton Cerrar Activado */
    .bienvenida__btns-menu.cambiar-icono .bienvenida__btn-cerrar {
        opacity: 1;
        transform: rotate(90deg);
    }

    /* ========================== MENU NAVEGACION ========================= */
    /* MARK: Menu Navegacion */
    nav {
        background-color: var(--grisOscuro);
        position: fixed;
        top: 4.5em;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: box-shadow 0.5s, transform 0.3s;
    }

    /* Menu Lateral Activo */
    nav.activo {
        box-shadow: 0 0 0 100dvw rgba(0, 0, 0, .5);
        transform: translateX(0);
    }

    /* Iconos Flechas */
    nav .menu-1 ion-icon {
        float: right;
        transition: transform 0.3s;
    }

    /* Iconos Flechas Activos */
    nav .menu-1 ion-icon.activo {
        transform: rotate(-180deg);
    }

    /* Submenus */
    .menu-1 ul{
        position: relative;
        min-height: 0;
        max-height: 0;
        margin-left: 1em;
        overflow: hidden;
        transition: max-height 0.4s;
    }

    /* SubMenu Activos */
    .menu-1 ul.activo {
        max-height: 100em;
    }
}