/* ========================== TITULOS ========================= */
/* MARK: Titulos */
.titulos {
    max-width: var(--maxWidth);
    padding: 1.5em;
    padding-top: 0;
    margin: 1.5em auto 0;
}

/* Textos Centrados */
.titulos.centro {
    text-align: center;
}

/* Textos */
.titulos .titulos__titulo {
    background-color: var(--grisClaro);
    border-bottom: 0.1em var(--rosa) solid;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    padding: 0.3em;
}
.titulos .titulos__subtitulo {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--rosa);
    margin-top: 0.3em;
}

/* ========================== TARJETAS ========================= */
/* MARK: Tarjetas */
.tarjetas {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    max-width: var(--maxWidth);
    padding: 1.5em;
    margin: auto;
    gap: 2em;
}

/* Tarjeta Modo Vertical */
.tarjetas.vertical .tarjeta {
    width: 35em;
}

/* Etiqueta */
.etiqueta {
    background-color: var(--rosa);
    border-top-right-radius: 0.7em;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 0.5em;
    margin-right: -1.6em;
    min-width: 5em;
    opacity: 0.6;
}
.etiqueta p {
    text-align: center;
}

/* Tarjeta Imagenes */
.tarjetas.vertical .tarjeta__imagenes {
    max-height: none;
}

/* Tarjeta Imagenes Fondo */
.tarjetas.vertical .tarjeta__imagen-fondo {
    aspect-ratio: 0;
}

/* TARJETA */
.tarjeta {
    box-shadow: 0.6vh 0.3vh 2vh black;
    background-color: var(--grisOscuro);
    border-radius: 1em;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21em;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;
}
.tarjeta .tarjeta__imagenes {
    overflow: hidden;
}
.tarjeta:hover {
    box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
}

/* Slider */
.tarjeta__slider {
    margin-top: 1em;
    position: relative;
}

/* Slider Imagenes */
.slider__imagenes {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    transition: margin-left 0.3s;
}
.slider__imagenes .slider__imagen {
    object-fit: contain;
}

/* Slider Botones */
.slider-boton {
    background-color: var(--rosa);
    border-radius: 1em;
    position: absolute;
    top: 50%;
    width: 2.5em;
    height: 2.5em;
    opacity: 0.6;
    scale: 0.8;
    transform: translateY(-50%);
    transition: opacity 0.3s, scale 0.3s;
}
.slider-boton:hover {
    opacity: 1;
    scale: 1;
}
.tarjeta__slider .boton-izquierda {
    left: 1em;
}
.tarjeta__slider .boton-derecha {
    right: 1em;
}

/* Tarjeta Imagenes */
.tarjeta__imagenes {
    position: relative;
    max-height: 15em;
    overflow: hidden;
}
.tarjeta__imagenes .tarjeta__imagen {
    object-fit: contain;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.tarjeta__imagenes .tarjeta__imagen-fondo {
    aspect-ratio: 16/9;
    filter: blur(0.5em);
    width: 100%;
    height: 100%;
}

/* Tarjeta Informacion */
.tarjeta__informacion { 
    padding: 0.6em;
}
.tarjeta__titulo {
    border-bottom: 0.1em var(--rosa) solid;
    font-size: 1.5em;   
    font-weight: bold;
}
.tarjeta__subtitulo {
    border-bottom: 0.1em solid var(--rosa);
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
}
.tarjeta__fecha {
    color: var(--rosa);
}
.tarjeta__descripcion {
    min-height: 3em;
}
.tarjeta__link {
    text-decoration: underline;
    color: var(--rosa);
}
.tarjeta__lista {
    font-size: 1.1em;
    color: white;
    margin: 1em 0;
}
.tarjeta__lista li {
    margin-left: 1em;
    list-style: initial;
}
.tarjeta__select {
    background-color: var(--grisClaro);
    border: none;
    color: white;
    display: block;
    padding: 0.7em;
    margin-top: 0.5em;
    width: 100%;
}

/* ========================== BOTONES ========================= */
/* MARK: Botones */

/* Contenedor Boton */
.div__boton {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5em;
}

/* Boton Base */
.div__boton .boton {
    box-shadow: 2px 2px 10px #000;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: var(--grisOscuro);
    color: white;
    text-align: center;
    display: inline-block;
    min-width: 10em;
    padding: 0.8em;
    margin: 0.7em auto;
    transition: 0.3s;
}
.div__boton .boton:hover {
    box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
    background-color: var(--grisClaro);
    color: var(--rosa);
}

/* Boton Descargar */
.div__boton .boton.descargar {
    background-color: var(--verde);
    border-radius: 0.4em;
    padding: 0.9em;
    cursor: pointer;
}
.div__boton .boton.descargar:hover {
    background-color: var(--verde);
    border: none;
    color: white;
    scale: 1.1;
}

/* Boton Copiar Codigo */
.copiar {
    background-color: var(--grisClaro);
	color: white;
	border: none;
    display: block;
    width: fit-content;
    padding: 0.7em;
	transition: 0.3s;
}
.copiar:hover {
    background-color: var(--rosa);
}

/* Boton Subir */
.boton-subir {
    box-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
    background-color: var(--rosa);
    border-radius: 50%;
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 3em;
    height: 3em;
    transform: translateX(5em);
    transition: transform 0.3s ease-in-out, scale 0.3s;
}
.boton-subir:hover {
    scale: 1.1;
}

/* Icono Flecha Boton Subir*/
.boton-subir ion-icon {
    color: #fff;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.3s;
}

/* ========================== BLOQUE DE CODIGO ========================= */
/* MARK: Codigo */
.codigo {
    background-color: var(--grisClaro);
	color: white;
	display: block;
	padding: 0.7em;
    margin-bottom: 1em;
}

/* ========================== FOOTER ========================= */
/* MARK: Footer */
footer {
    background-color: var(--grisOscuro);
    margin-top: auto;
}

/* Enlaces Redes Sociales */
footer .footer__encales {
    display: flex;
    gap: 1em;
    padding: 1em 1em 0;
}
footer .footer__encales li,
footer .footer__encales a {
    color: var(--rosa);
}

/* Texto Inferior */
footer .footer__creditos {
    color: white;
    font-size: 1.6em;
    padding: 0.5em;
}

/* ========================== Computadora ========================= */
/* MARK: Computadora */
@media (min-width: 1080px) {

    /* Hover a la Tarjeta (SOLO PARA PC) */
    .tarjeta:hover {
        transform: translateY(-0.3em);
    }
}

/* ========================== Celular ========================= */
/* MARK: Celular */
@media (max-width: 701px ) {

    /* ========================== Tarjetas ========================= */
    /* Tarjeta */
    .tarjeta {
        width: 100%;
    }

    /* Tarjeta Imagenes */
    .tarjeta__imagenes {
        max-height: none;
    }
    .tarjeta__imagen-fondo {
        aspect-ratio: 0;
    }

    /* Boton Subir */
    .boton-subir {
        right: 1em;
        bottom: 1em;
        width: 2em;
        height: 2em;
    }
}