/* ========================== EXTRAS ========================= */
:root {
    --maxWidth: 150vh;
}

/* ========================== TITULOS ========================= */
.titulos {
    max-width: var(--maxWidth);
    padding: 3vh 2vh;
    margin: auto;

    /* Textos */
    .titulos__titulo {
        background-color: var(--grisClaro);
        border-bottom: 0.4vh var(--rosa) solid;
        font-size: 4vh;
        color: #fff;
        padding: 1.5vh;
    }
    .titulos__subtitulo {
        color: var(--rosa);
        margin-top: 0.7vh;
    }

    /* Textos Centrados */
    &.centro {
        text-align: center;
    }
}

/* ========================== TARJETAS ========================= */
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--maxWidth);
    margin: auto;

    /* TARJETA */
    .tarjeta {
        box-shadow: 0.6vh 0.3vh 2vh black;
        background-color: var(--grisOscuro);
        border-radius: 2vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 45vh;
        margin: 1.7vh;
        overflow: hidden;
        transition: box-shadow 0.3s, transform 0.3s;
       
        /* Imagen Principal */
        .tarjeta__imagen {
            border-radius: 1.5vh;
            width: 100%;
        }

        .tarjeta__slider {
            position: relative;
            /* scroll-snap-type: x mandatory;
            position: relative;
            display: flex;
            overflow: scroll;            

            .tarjeta__imagen-slider {
                scroll-snap-align: center;
                position: sticky;
                left: 0;
                width: 100%;
            } */

            button {
                position: absolute;
                top: 0%;
                width: 10vh;
                height: 10vh;
            }
        }

        /* INFORMACION TARJETA */
        .tarjeta__informacion {
            display: flex;
            flex-direction: column;
            padding: 1vh;
    
            /* Titulo */
            .tarjeta__titulo {
                border-bottom: 0.4vh var(--rosa) solid;
                font-size: 3vh;
            }

            /* Fecha */
            .tarjeta__fecha {
                color: var(--rosa);
            }

            .tarjeta__descripcion {
                min-height: 6.5vh;
            }

            /* Select e Inputs */
            .tarjeta__select {
                background-color: var(--grisClaro);
                border: none;
                color: white;
                padding: 1vh;
                margin-top: 0.4vh;
            }
        }

        &:hover {
            box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
        }
    }

    /* Modo Vertical */
    &.vertical {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: 2vh;

        /* TARJETA */
        .tarjeta {
            width: 75vh;
        }
    }
}

/* ========================== BOTONES ========================= */

/* Boton Normal */
.boton {
    box-shadow: 0.6vh 0.3vh 1vh black;
    border-top-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: var(--grisOscuro);
    color: white;
    text-align: center;
    display: block;
    min-width: 18vh;
    padding: 1.5vh;
    margin: 1vh auto;
    transition: 0.3s;

    &.subir {
        max-width: 20vh;
        padding: 2vh;
        margin: 5vh auto;
    }

    &:hover {
        box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
        background-color: var(--grisClaro);
        color: var(--rosa);
    }
}

/* Boton Descargar */
.descargar {
    background-color: var(--verde);
    border-radius: 0.7vh;
    padding: 1.5vh;
    cursor: pointer;

    &:hover {
        background-color: var(--verde);
        border: none;
        color: white;
        scale: 1.1;
    }
}

/* ========================== CODIGO ========================= */
.copiar {
    background-color: var(--grisClaro);
	color: white;
	border: none;
    max-width: 10vh;
    padding: 0.7vh;
	margin-top: 0.7vh;
	transition: 0.3s;

    &:hover {
        background-color: var(--rosa);
    }
}

.codigo {
    background-color: var(--grisClaro);
	color: white;
	display: block;
	padding: 0.7vh;
}

/* ========================== FOOTER ========================= */
footer {
    background-color: var(--grisOscuro);
    margin-top: auto;

    .footer__encales {
        display: flex;
        gap: 1vh;
        padding: 1.6vh 1.6vh 0;
        margin-bottom: 1vh;

        li,
        a {
            color: var(--rosa);
        }
    }
    .footer__creditos b{
        color: white;
        font-size: 2.5vh;
        padding: 1.2vh;
    }
}

/* ========================== Computadora ========================= */
@media (width > 1080px) {

    /* ========================== TARJETAS ========================= */

    /* TARJETA */
    .tarjeta {

        /* Tarjeta Hover (SOLO PARA PC) */
        &:hover {
            transform: translateY(-0.3vh);
        }
    }
}

/* ========================== Computadora y Tablet ========================= */
@media (width > 700px) {

    /* ========================== TARJETAS ========================= */

    /* Imagen */
    .tarjeta__imagenes {
        position: relative;
        width: 100%;
        min-height: 30vh;
        max-height: 30vh;
        
        /* Imagen de Fondo */
        .tarjeta__imagen-fondo {
            aspect-ratio: 16/9;
            filter: blur(1vh);
            width: 100%;
            min-height: 30vh;
            max-height: 30vh;
        }

        /* Imagen Principal */
        .tarjeta__imagen {
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            min-height: 30vh;
            max-height: 30vh;
        }
    }

}

/* ========================== Celular ========================= */
@media (width < 701px) {
    
    /* ========================== TARJETAS ========================= */
    .tarjetas {

        /* Tarjeta */
        .tarjeta {
            width: 100%;

            /* Imagen de Fondo */
            .tarjeta__imagen-fondo {
                display: none;
            }
        }

        /* Modo Vertical */
        &.vertical {
            
            /* Hago las Tarjeas al 100% */
            .tarjeta {
                width: 100%;
            }
        }
    }
}