/* ========================== EXTRAS ========================= */
:root {
    --maxWidth: 70em;
}

/* ========================== TITULOS ========================= */
.titulos {
    max-width: var(--maxWidth);
    padding: 1.5em;
    margin: auto;

    /* Textos */
    .titulos__titulo {
        background-color: var(--grisClaro);
        border-bottom: 0.1em var(--rosa) solid;
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        padding: 0.3em;
    }
    .titulos__subtitulo {
        font-size: 1.3em;
        font-weight: bold;
        color: var(--rosa);
        margin-top: 0.3em;
    }

    /* Textos Centrados */
    &.centro {
        text-align: center;
    }
}

/* ========================== TARJETAS ========================= */

.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--maxWidth);
    padding: 1.5em;
    margin: auto;
    gap: 2em;

    /* TARJETA */
    .tarjeta {
        box-shadow: 0.6vh 0.3vh 2vh black;
        background-color: var(--grisOscuro);
        border-radius: 1em;
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 21em;
        overflow: hidden;
        transition: box-shadow 0.3s, transform 0.3s;
       
        /* Imagenes */
        .tarjeta__imagenes {
            position: relative;
            max-height: 15em;
            overflow: hidden;

            /* Imagen Fondo */
            .tarjeta__imagen-fondo {
                aspect-ratio: 16/9;
                filter: blur(0.5em);
                width: 100%;
                height: 100%;
            }

            /* Imagen Principal */
            .tarjeta__imagen {
                object-fit: contain;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }
        }

        /* Slider */
        .tarjeta__slider {
            position: relative;

            /* Imagenes */
            .slider__imagenes {
                display: flex;
                transition: margin-left 0.3s;
                
                /* Imagen Pricipal */
                .slider__imagen {
                    object-fit: contain;
                }
            }

            /* Botones Slider */
            .slider-boton {
                background-color: var(--rosa);
                border-radius: 1em;
                position: absolute;
                top: 50%;
                width: 2.5em;
                height: 2.5em;
                opacity: 0.6;
                scale: 0.8;
                transform: translateY(-50%);
                transition: opacity 0.3s, scale 0.3s;

                /* Hover a Botones Slider  */
                &:hover {
                    opacity: 1;
                    scale: 1;
                }
            }

            /* Boton Izquierda */
            .boton-izquierda {
                left: 1em;
            }

            /* Boton Derecha */
            .boton-derecha {
                right: 1em;
            }
        }

        /* INFORMACION TARJETA */
        .tarjeta__informacion {
            padding: 0.6em;
    
            /* Titulo */
            .tarjeta__titulo {
                border-bottom: 0.1em var(--rosa) solid;
                font-size: 1.5em;   
                font-weight: bold;
            }

            /* Subtitulo */
            .tarjeta__subtitulo {
                border-bottom: 0.1em solid var(--rosa);
                font-size: 1.4em;
                font-weight: bold;
                display: inline-block;
            }

            /* Fecha */
            .tarjeta__fecha {
                color: var(--rosa);
            }

            /* Descripcion */
            .tarjeta__descripcion {
                min-height: 3em;
            }

            /* Enlaces */
            .tarjeta__link {
                text-decoration: underline;
                color: var(--rosa);
            }

            /* Listas */
            .tarjeta__lista {
                font-size: 1.1em;
                color: white;
                margin-left: 1em;

                /* Items */
                li {
                    list-style: disc;
                }
            }

            /* Select e Inputs */
            .tarjeta__select {
                background-color: var(--grisClaro);
                border: none;
                color: white;
                display: block;
                padding: 0.7em;
                margin-top: 0.5em;
                width: 100%;
            }
        }

        /* Hover a la Tarjeta */
        &:hover {
            box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
        }
    }

    /* Modo Vertical */
    &.vertical {

        /* TARJETA */
        .tarjeta {
            width: 35em;

            /* Imagenes */
            .tarjeta__imagenes {
                max-height: none;

                /* Imagen Fondo */
                .tarjeta__imagen-fondo {
                    aspect-ratio: 0;
                }
            }
        }
    }
}

/* ========================== BOTONES ========================= */

/* Contenedor Boton */
.div__boton {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5em;

    .boton {
        box-shadow: 2px 2px 10px #000;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
        background-color: var(--grisOscuro);
        color: white;
        text-align: center;
        display: inline-block;
        min-width: 10em;
        padding: 0.8em;
        margin: 0.7em auto;
        transition: 0.3s;
    
        /* Boton Descargar */
        &.descargar {
            background-color: var(--verde);
            border-radius: 0.4em;
            padding: 0.9em;
            cursor: pointer;
    
            /* Hover al Boton Descargar */
            &:hover {
                background-color: var(--verde);
                border: none;
                color: white;
                scale: 1.1;
            }
        }

        /* Hover al Boton */
        &:hover {
            box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
            background-color: var(--grisClaro);
            color: var(--rosa);
        }
    }
}

/* Boton Copiar Codigo */
.copiar {
    background-color: var(--grisClaro);
	color: white;
	border: none;
    display: block;
    width: fit-content;
    padding: 0.7em;
	transition: 0.3s;

    /* Hover al Boton Copiar */
    &:hover {
        background-color: var(--rosa);
    }
}

/* Boton Subir */
.boton-subir {
    box-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
    background-color: var(--rosa);
    border-radius: 50%;
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 3em;
    height: 3em;
    transform: translateX(5em);
    transition: transform 0.3s ease-in-out, scale 0.3s;

    /* Icono Flecha */
    ion-icon {
        color: #fff;
        width: 100%;
        height: 100%;
        transform: translateY(0);
        transition: 0.3s;
    }

    /* Hover al Boton */
    &:hover {
        scale: 1.1;
    }
}

/* ========================== BLOQUE DE CODIGO ========================= */
.codigo {
    background-color: var(--grisClaro);
	color: white;
	display: block;
	padding: 0.7em;
    margin-bottom: 1em;
}

/* ========================== FOOTER ========================= */
footer {
    background-color: var(--grisOscuro);
    margin-top: auto;

    /* Enlaces Redes Sociales */
    .footer__encales {
        display: flex;
        gap: 1em;
        padding: 1em 1em 0;

        li,
        a {
            color: var(--rosa);
        }
    }

    /* Texto Inferior */
    .footer__creditos {
        color: white;
        font-size: 1.6em;
        padding: 0.5em;
    }
}

/* ========================== Computadora ========================= */
@media (width > 1080px) {

    /* Hover a la Tarjeta (SOLO PARA PC) */
    .tarjeta:hover {
        transform: translateY(-0.3em);
    }
}

/* ========================== Celular ========================= */
@media (width < 701px ) {

    /* ========================== Tarjetas ========================= */
    .tarjetas,
    .tarjetas.vertical {
        
        /* Tarjeta */
        .tarjeta {
            width: 100%;

            /* Imagenes */
            .tarjeta__imagenes {
                max-height: none;

                /* Imagen Fondo */
                .tarjeta__imagen-fondo {
                    aspect-ratio: 0;
                }
            }
        }
    }

    /* Boton Subir */
    .boton-subir {
        box-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
        background-color: var(--rosa);
        border-radius: 50%;
        position: fixed;
        right: 1.5em;
        bottom: 1.5em;
        width: 2em;
        height: 2em;
        transform: translateX(5em);
        transition: transform 0.3s ease-in-out, scale 0.3s;

        /* Icono Flecha */
        ion-icon {
            color: #fff;
            width: 100%;
            height: 100%;
            transform: translateY(0);
            transition: 0.3s;
        }

        /* Hover al Boton */
        &:hover {
            scale: 1.1;
        }
    }
}