/* ========================== TITULOS ========================= */
/* MARK: Titulos */
.titulos {
    max-width: var(--maxWidth);
    padding: 1.5em;
    padding-top: 0;
    margin: 1.5em auto 0;
}

/* Textos Centrados */
.titulos.centro {
    text-align: center;
}

/* Textos */
.titulos__titulo {
    background-color: var(--grisClaro);
    border-bottom: 0.1em var(--rosa) solid;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    padding: 0.3em;
}
.titulos__subtitulo {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--rosa);
    margin-top: 0.3em;
}

/* ========================== TARJETAS MODO VERTICAL ========================= */
/* MARK: Modo Vertical */

/* Tarjeta */
.tarjetas.vertical .tarjeta {
    width: 35em;
}

/* Imagenes */
.tarjetas.vertical .tarjeta__imagenes {
    max-height: none;
}

/* Imagen Fondo */
.tarjetas.vertical .tarjeta__imagen-fondo {
    aspect-ratio: 0;
}

/* ========================== TARJETAS ========================= */
/* MARK: Tarjetas */

/* Contenedor Tarjetas */
.tarjetas {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    max-width: var(--maxWidth);
    padding: 1.5em;
    margin: auto;
    gap: 2em;
}

/* Tarjeta */
.tarjeta {
    box-shadow: 0.6vh 0.3vh 2vh black;
    background-color: var(--grisOscuro);
    border-radius: 1em;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21em;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;
}
.tarjeta:hover {
    box-shadow: 2vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
}

/* Tarjeta Imagenes */
.tarjeta__imagenes {
    position: relative;
    max-height: 15em;
    overflow: hidden;
}
.tarjeta__imagen {
    object-fit: contain;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.tarjeta__imagen-fondo {
    aspect-ratio: 16/9;
    filter: blur(0.5em);
    width: 100%;
    height: 100%;
}

/* Etiqueta */
.etiqueta {
    background-color: var(--rosa);
    border-top-right-radius: 0.7em;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 0.5em;
    margin-right: -1.6em;
    min-width: 5em;
    opacity: 0.6;
}
.etiqueta p {
    text-align: center;
}

/* Tarjeta Informacion */
.tarjeta__informacion { 
    padding: 0.6em;
}
.tarjeta__titulo {
    border-bottom: 0.1em var(--rosa) solid;
    font-size: 1.5em;   
    font-weight: bold;
}
.tarjeta__subtitulo {
    border-bottom: 0.1em solid var(--rosa);
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
}
.tarjeta__fecha {
    color: var(--rosa);
}
.tarjeta__descripcion {
    min-height: 3em;
}
.tarjeta__link {
    text-decoration: underline;
    color: var(--rosa);
}
.tarjeta__lista {
    font-size: 1.1em;
    color: white;
    margin: 1em 0;
}
.tarjeta__lista li {
    margin-left: 1em;
    list-style: initial;
}
.tarjeta__select {
    background-color: var(--grisClaro);
    border: none;
    color: white;
    display: block;
    padding: 0.7em;
    margin-top: 0.5em;
    width: 100%;
}

/* ========================== COMPUTADORA ========================= */
/* MARK: Computadora */
@media (min-width: 1080px) {

    /* Hover a la Tarjeta (SOLO PARA PC) */
    .tarjeta:hover {
        transform: translateY(-0.3em);
    }
}

/* ========================== CELULAR ========================= */
/* MARK: Celular */
@media (max-width: 701px ) {

    /* Tarjeta */
    .tarjeta {
        width: 100%;
    }

    /* Tarjeta Imagenes */
    .tarjeta__imagenes {
        max-height: none;
    }
    .tarjeta__imagen-fondo {
        aspect-ratio: 0;
    }
}